body {
  margin: 0;
}

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  background-color: rgb(212,212,212);
}
.content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 30rem;
  border-radius: 3px;
}
button {
  border-radius: 8px;
  width: 16rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  border: 1px solid transparent;
  background-color: #816b6b;
  cursor: pointer;
  color: white
}
button:hover {
  border-color: white;
}
.sreality {
  width: 16rem;
}

